{% extends "base.html" %}

{% block content %}

<h1 class="mb-4">Dashboard</h1>

<p>Today: {{ today }}</p>

<hr>

<h3>Your Habits for Today</h3>

{% if habits_today %}
<ul class="list-group mb-4">
    {% for item in habits_today %}
    {% with habit=item.habit %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
            <strong>{{ habit.name }}</strong><br>
            <small>{{ habit.habit_type|title }} habit</small>
        </div>

        <div>
            {% if item.logged_today %}
            <span class="badge bg-success">Completed Today</span>
            {% else %}
            <a href="{% url 'quick_log' item.habit.pk %}" class="btn btn-sm btn-primary">
                {% if item.habit.habit_type == "positive" %}
                Mark as Done
                {% else %}
                Mark as Avoided
                {% endif %}
            </a>
            {% endif %}
        </div>
    </li>
    {% endwith %}
    {% endfor %}
</ul>
{% else %}
<p>You have no active habits today.</p>
{% endif %}

<hr class="mb-4">

<h3>Your Streaks</h3>

{% if streaks %}
<ul class="list-group">
    {% for habit, streak in streaks.items %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>{{ habit.name }}</span>
        <span>{{ streak }} day streak</span>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No streak data yet.</p>
{% endif %}

{% endblock %}
