{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">

            <h1 class="page-title mb-4 text-center">
                Password Reset Complete
            </h1>

            <div class="card reset-card p-4">

                <p class="reset-text">
                    Your password has been successfully reset. You can now log in with your new password.
                </p>

                <a href="{% url 'login' %}" class="btn btn-primary w-100 mt-3">
                    Login
                </a>

            </div>

        </div>
    </div>

</div>

{% endblock %}
